.icon {
    padding: 0 10px;
}

.icon-container{
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

a > .fa { 
    transition: all .2s ease-in-out; 
}

a > .fa:hover { 
    transform: scale(1.5); 
}