.header{
    img {
        float: left;
        padding: 10px;
        width: 250px;
    }
}

h1 p {
    color: $home-text-color;
}

h3 {
    color: $home-subhead-color;
    font-style: italic;
}

.grid-container {
    width: 66.77%
}
