.top-bar,
.top-bar ul {
  background-color: $nav-background;
}

.current-page {
  color: white;
}

.top-bar-right {
  .menu-text {
    color: $nav-text-color;
  }
  a {
  }
  a:hover {
    background-color: $light-grey-border;
    transition: 0.5s;
  }
}

.menu > .logo {
  color: $nav-text-color;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
  color: #1779ba;
}
