.callout {
  cursor: pointer;
  align-items: center;
  transition: background 0.3s ease;
  display: block;
  height: 330px;
  border-color: $light-grey-border;
  border-radius: 25px 25px 0 0;
  margin: 0px;

  p {
    font-style: italic;
    margin: 0;
    padding: 0;
  }

  img {
    height: 150px;
    display: block;
    margin: auto;
    border-width: 1px;
    border-radius: 25px;
    border-style: solid;
    border-color: $light-grey-border;
  }

  &:hover {
    background: #f0f0f0;
  }
}

.grid-width {
  width: 75%;
  margin: 0 auto;
}

.git {
  height: 100px;
  margin-bottom: 20px;
  border-radius: 0 0 25px 25px;
  text-align: center;
  padding: 0px;
  display: flex;
  justify-content: center;

  .icon {
    line-height: 75px;
  }
}
