@import url('https://fonts.googleapis.com/css?family=Lato');  
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import '~foundation-sites/scss/util/util';
@import '~foundation-sites/scss/foundation';

@include foundation-everything;

@import "base/variables";
@import "components/app";
@import "components/navigation";
@import "components/home";
@import "components/portfolio";
@import "components/contact";
@import "components/contactform";
@import "components/fonts";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
