@import url('https://fonts.googleapis.com/css?family=Lato');  
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import '~foundation-sites/scss/util/util';
@import '~foundation-sites/scss/foundation';

@include foundation-everything;

@import "base/variables";
@import "components/app";
@import "components/navigation";
@import "components/home";
@import "components/portfolio";
@import "components/contact";
@import "components/contactform";
@import "components/fonts";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

@media only screen and (max-width: 480px) {

  .logo{
    font-size: 24px;
    margin: 0 auto;
  }
  .top-bar-left {
    text-align: center
  }

  .top-bar-right > .menu {
    margin: 0 auto;
    width: 70%;
    
  }

  h1{
    text-align: center;
    font-weight: bold;
  }

  h3 {
    text-align: center;
  }

  .header > img{ 
    width: 90%;
    margin: 0 auto;
    float: none;
    display: block;
  }

  li {
    margin: 0 auto;
  }

  .grid-container{
    width: 100%;
  }

  .icon-container{
    width: 100%;
  }

  .grid-x > .cell { 
    width: 90%;
    margin: 0 auto;
  }
}
